<h3 class="pb-3 mb-4 font-italic border-bottom">
  From Michael Mudge
</h3>
<h6>
<span><%= link_to 'Write a new blog', new_blog_path if logged_in?(:site_admin) %></span>
<span> <%= link_to "Topics", topics_path %> </span>

</h6>
