<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">A showcasing of my skills through projects I have worked on both with development teams and solo. Along with these projects please consider that this website is also an example of my work.</p>
    <p>
      <%= link_to "Find out more", about_me_path, class: "btn btn-primary" %>
    </p>
  </div>
</section>
