<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Delivering quality products on time and on budget is my personal philosophy when it comes to software development. With clear communication and correct project planning my goal for every project is to exceed client expectation.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>



