<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Software development has changed from a hobby into a passion of mine. Everyday I am working to increase my knowledge and skills in all aspects of development. Presented here is a display of my work, please take a look around and thanks for stopping by.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    <%= link_to "Portfolio", portfolios_path, id: 'btn-custom-homepage', class: "btn btn-lg" %>
  </p>
</main>



