<main role="main" id="homepage-content" class="inner cover text-center">
  <h1 class="cover-heading">Michael Mudge</h1>
  <p class="lead">

  <span><em>Websites - Web Apps - Software Development</em></span>

</p>
  <div class="heading-buttons">
    <%= link_to "PORTFOLIO", portfolios_path,  class: "homepage-btn portfolio-btn" %>

    <%= link_to "ABOUT ME", about_me_path, class: "homepage-btn about-btn" %>
  </div>
</main>



