<main role="main" class="inner cover" id="centerTechNews">
  <h1 class="cover-heading card-margin" id="tech-news-title">Developer News</h1>
  <h3 class="text-center"><em>Recent Tweets</em></h3>

    <% @tweets.each do |tweet| %>
      <div class="mt-auto">
        <div class="tech-news">
          <div class="card">
            <%= twitter_parser tweet %>
          </div>
        </div>
      </div>
    <% end %>

</main>
