.homepage-btn {
  width: 100%;
  height: 100%;
  border-radius: 4.75px;
  padding: 10px 45px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

.aboutpage-btn {
  width: 200px;
  height: 100%;
  border-radius: 4.75px;
  padding: 10px 45px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

.portfolio-btn {
  text-shadow: none;
  color: #17252A;
  background-color: #DEF2F1;
  border: 2.5px solid #3AAFA9;
}

.portfolio-btn:hover {
  color: #17252A;
  background-color: #3AAFA9;
  border: 2.5px solid #DEF2F1;
}

.about-btn {
  color: #DEF2F1;
  background-color: #3AAFA9;
  border: 2.5px solid #DEF2F1;
}

.about-btn:hover {
  text-shadow: none;
  color: #17252A;
  background-color: #DEF2F1;
  border: 2.5px solid #3AAFA9;
}
