#portfolio-footer {
  color: #17252A;
  text-align: center;
}

#portfolio-footer a {
  color: #17252A;
}

#portfolio-footer a:hover {
  color: #3AAFA9;
}

.social-links-portfolio-footer {
  font-size: 2.5em;
  text-align: center;
  color: #17252A;
}

.social-links-portfolio-footer a {
  margin-right: 18px;
  color: #17252A;
}

.social-links-portfolio-footer a:hover {
  color: #3AAFA9;
}


