:root {
  --jumbotron-padding-y: 2rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.text-muted a {
  font-size: 2rem;
  color: white;
  margin-right: 15px;
}

.card-body {
  border-right: 3px solid #3AAFA9;
  color: #17252A;
}

.card-tech-used {
  text-align: right;
  color: #17252A;
  font-size: 13px;

  p {
    margin-bottom: 0px;
  }
}
.card {
  position: relative;
}

.card-link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  transition: 0.3s;
  z-index: 5;
}
