.social-links-portfolio-nav a {
  color: #3AAFA9;
}

.social-links-portfolio-nav a:hover {
  color: #DEF2F1;
}


.list-unstyled li a {
  color: white !important;
}

.list-unstyled li a:hover {
  color: #3AAFA9 !important;
}

