.nav-masthead {
  margin-right: -100px;
}

.masthead-brand {
  color: white;
  font-size: 32px;
  margin-left: -100px;
}

.masthead-brand i:hover {
  color: #3AAFA9;
}

.nav-link {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin: 0px 5px;
  font-weight: bolder;
  color: #17252A;
}

.nav-link:hover {
  border-bottom: 2.5px solid #3AAFA9;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
    width: 8em;
  }
  .nav-masthead {
    float: right;
  }
}
