.social-links-contact {
  font-size: 2.5em;
  text-align: center;
}

.social-links-contact a {
  margin-right: 18px;
}

.social-links-contact a:hover {
  color: #3AAFA9;
}

.social-links-footer {
  font-size: 1.5em;

  a {
    margin: 0px 5px;
  }
}

.social-links-footer a:hover {
  color: #3AAFA9;
}
