@import "bootstrap";
@import "gritter";
@import "font-awesome";
@import "pages";
@import "nav";

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  font-family: 'Bree Serif', serif;
}

.cover-container {
  max-width: 68em;
}

a {
  text-decoration: none !important;
}


.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.card-body {
color: #17252A;
text-align: left;
}
.auth-links a {
color: black;
}

.register-text {
text-align: right;
}

.padding-about-text {
  padding: 25px;
}



#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('bg-bg.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.app-footer {
  color: white;
  margin: 2rem 0px;
}

#centerTechNews {
  margin: 0 auto;
}

.tech-news {
  color: #343A35;
  margin: 10px 20px;
  text-shadow: none;
}

.tech-news a {
  color: #3AAFA9;
}

.tech-news > .card {
  padding: 30px;
  color: #17252A;
  background-color: #DEF2F1;
  border: 2px solid #3AAFA9;
  width: 700px;
  height: 150px;
}

#tech-news-title {
  margin: 40px 0px 0px 0px;
  text-align: center;
}

.app-card-container {
  color: #343A35;
  text-align: left;
  text-shadow: none;
}

.app-card-container > .card {
  padding: 40px;

  > h1 {
    border-bottom: 3px solid #3AAFA9;
    margin-bottom: 45px;
    padding-bottom: 15px;
  }
}

.app-card-container a {
  color: black;
}

.app-card-container p {
  font-size: 20px;
}

.card-block {
  margin: 5px 0px;
  padding: 5px;
  width: 275px;
}

.skill {
  margin: 10px 0px;
}

.card-margin {
  margin-top: 30px;
}

.social-links-contact {
  font-size: 2.5em;
  text-align: center;
}

.social-links-contact a {
  margin-right: 18px;
}

.social-links-contact a:hover {
  color: #3AAFA9;
}

.contact-info-about {
  text-align: center;
  padding: 10px;
  margin-top: 20px;

  > a {
    font-size: 1.25em;
  }
}

#skillsAbout .card {
  color: #17252A;
  background-color: #DEF2F1;
  border: 2px solid #3AAFA9;
  text-align: center;
}

#educationHistory .card {
  color: #17252A;
  background-color: #DEF2F1;
  border: 2px solid #3AAFA9;
  text-align: center;
}

.social-links-footer {
  font-size: 1.5em;

  a {
    margin: 0px 5px;
  }
}

.social-links-footer a:hover {
  color: #3AAFA9;
}


