@import "bootstrap";
@import "gritter";
@import "font-awesome";
@import "pages/index";
@import "components/index";


a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  font-family: 'Bree Serif', serif;
}

.cover-container {
  max-width: 68em;
}

a {
  text-decoration: none !important;
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.card-body {
  color: #17252A;
  text-align: left;
}

.auth-links a {
  color: black;
}

.register-text {
  text-align: right;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  // background: image-url('bg-bg.jpeg') no-repeat;
  background-size: cover;
  background-position: center;

}

#background-about {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('bg-bg.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}




