@import "bootstrap";
@import "jquery-ui";
@import "gritter";
@import "font-awesome";

:root {
  --jumbotron-padding-y: 2rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

body {
  font-family: 'Lato', sans-serif;
  color: #17252A;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  font-family: 'Bree Serif', serif;
  color: #17252A;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

a {
  text-decoration: none !important;
  color: #3AAFA9;
}

/* custom styles */

.portfolio-container {
  padding-top: 30px;
}

.text-muted a {
  font-size: 2rem;
  color: white;
  margin-right: 15px;
}

#portfolio-footer {
  color: #17252A;
  text-align: center;
}

#portfolio-footer a {
  color: #17252A;
}

.social-links-contact {
  font-size: 2.5em;
  text-align: center;
  color: #17252A;
}

.social-links-contact a {
  margin-right: 18px;
  color: #17252A;
}

.social-links-contact a:hover {
  color: #3AAFA9;
}

.homepage-btn {
  width: 100%;
  height: 100%;
  border-radius: 4.75px;
  padding: 10px 45px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

.portfolio-btn {
  text-shadow: none;
  color: #17252A;
  background-color: #DEF2F1;
  border: 2.5px solid #3AAFA9;
}

.portfolio-btn:hover {
  color: #17252A;
  background-color: #3AAFA9;
  border: 2.5px solid #DEF2F1;
}

.portfolio-container h1 {
  border-bottom: 3px solid #3AAFA9;
  padding-bottom: 15px;
}

.card-body {
  border-right: 3px solid #3AAFA9;
  color: #17252A;
}

.light-text {
  text-align: right;
  color: #3AAFA9;
}
.card {
  position: relative;
}

.card-link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  transition: 0.3s;
  z-index: 5;
}

  // &:hover {
  //   .card-img {
  //     border-bottom: 2px solid #3AAFA9;
  //   }
  // }
